.titleH1{
    text-align: center; 
    font-size: 200%;   
    color: #ff9800; 
}

.navbarItem{
  color: #ff9800; 
  font-weight: bold;
}

.page-container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .content-container {
    max-width: 1400px; /* Adjust the width as needed */
  }

  .v-card--reveal {
    align-items: center;
    bottom: 0;
    justify-content: center;
    opacity: .9;
    position: absolute;
    width: 100%;
  }
  .card-pair-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .first-card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  
  .second-card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }

  .pictures{
    width: 600px;
    height: 400px;
    object-fit: contain;
  }

  .PicturesSkills{
    width: 40%;
  }

  .skill-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .skill-title {
    margin-top: 10px;
    font-weight: bold;
  }

  .fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }